[Unit]
Description=Running yandex backend school task in docker-compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
Type=forking

WorkingDirectory=/home/ubuntu/task/yandex-backend-task

# Remove old containers, network and volumes
ExecStartPre=/usr/local/bin/docker-compose down

# Compose up
ExecStart=bash start.sh

# Compose down, remove containers
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
