[Unit]
Description=Start docker-compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
Type=forking

WorkingDirectory=/home/ubuntu/task/yandex-backend-task

# Remove old containers, network and volumes
ExecStartPre=/usr/local/bin/docker-compose down

# Compose up
ExecStart=/usr/local/bin/docker-compose up

# Compose down, remove containers
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
